extends layout

block content

    #content

        p#conectados Usuarios conectados: <strong></strong>

        #sonido
            audio(id='audio')
                source(src='sounds/sonido.mp3', type='audio/mpeg; codecs="mp3"')

        - if (!user)

            #login
                button(title='Conectar con twitter', id='twitter') 
                    strong twitter
                button(title='Conectar con facebook', id='facebook')
                    strong facebook

        - else

            #nav
                button#btn-sonido.button.generic Desactivar tonos
                button#salir.button.blue Salir

            form#chat_form
                #texto
                    input(type='text', name='mensaje', placeholder='Tu mensaje', disabled)
                    label#publicar Publicar en #{user.provider}
                        input(type="checkbox", name="publicar", checked)
                    input(type='submit', value='Enviar')

        ul#mensajes

    - if (user)
        - if (user.provider === 'twitter')
            script
                window.user = {name:"#{user.username}",avatar:"https://api.twitter.com/1/users/profile_image?screen_name=#{user.username}&size=normal",link:"http://www.twitter.com/#{user.username}",provider:"#{user.provider}"};
        - else if (user.provider === 'facebook')
            script
                window.user = {name:"#{user.username}",avatar:"https://graph.facebook.com/#{user.username}/picture",link:"http://www.facebook.com/#{user.username}",provider:"#{user.provider}"};